.wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 8px;

  .cad-form {

    .btn-actions {
      display: flex;
      justify-content: center;
    }

  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
    margin-top: 16px;

    label {
      color: #efeeed;
    }

    input {
      border-top: none;
      border-left: none;
      border-right: none;

      &:focus + label {
        color: #333333;
      }

      &:focus {
        outline: none;
      }

      &:invalid {
        outline: none;
        border-color: #eb4a46;
      }
    }

    .message-error {
      color: #eb4a46;
      font-size: 14px;
    }
    
  }

}

.btn {
  background-color: #00c8b3;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 20px;
  max-width: 250px;
  width: 100%;

  &:hover {
    opacity: 70%;
  }

  &:disabled {
    color:#dddcdc;
    background-color:#f6f6f6;
  }
}

